@font-face {
    font-family: 'Brothers';
    src: url('fonts/brothreg-020415006EmigreWebOnly.eot');
    src: url('fonts/brothreg-020415006EmigreWebOnly.eot?#iefix') format('embedded-opentype'),
         url('fonts/brothreg-020415006EmigreWebOnly.woff2') format('woff2'),
         url('fonts/brothreg-020415006EmigreWebOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cambria';
    src: url('fonts/Cambria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cambria-Bold';
    src: url('fonts/Cambria-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@import url('kube/kube.less');
@import url('less/custom-mixins.import.less');
@import url('less/less-media-queries.less');

/* =============================================================================
   Imports
   ========================================================================== */
// @import url('jvfloat.less');
// @import url('slick.less');
@import url('fa/font-awesome.less');
// @import url('icomoon.less');

/* =============================================================================
   Layout Code
   ========================================================================== */
/*
 * Authors: Quinton Jason @quintonjasonjr
 *
 * --------------
 *
 * Based on Kube
 * Detailed information about this CSS: http://imperavi.com/kube/
 *


/* Fonts ===================================================================== */


/* ==|== CSS Styles, IDs & Elements ===================================================== */

body{ 
	background: url(img/wood-bg.jpg); 
	background-size: cover; 
	background-attachment: fixed; 
}
#wrapper{ overflow-x: hidden; }
.overflow-on{ overflow: hidden; position: fixed; height: 100%; width: 100%; z-index: 1000; }

.verify-now.on{ visibility: visible; }
.verify-now{ visibility: hidden; }

// .wf-loading a,
// .wf-loading h2,
// .wf-loading p {
//   visibility: hidden
// }

p{ .bodycopy; margin-bottom: 1em; }

h1.brand{ margin-bottom: 1.25em;
	a{ 
		.block; 
		// background: url(img/logo.svg) no-repeat; 
		font-size: 0; 
		// ext-indent: -5000px; 
		margin: 0 auto; 
		// width: 340px; 
		// height: 370px; 

		&.form{ 
			width: 240px; 
			height: 269px; 
		}
	}
}
#ss-logo{ opacity: 0; }
h1.form{ margin-top: 2em; }

.nav-wrapper{ height: 100vh; }
nav{ height: 100%; background: @main-gray; opacity:0; visibility: hidden; .trans; position: fixed; z-index: 10; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);
	ul{  margin: 0; list-style-type: none; -webkit-transform: translateY(50%); transform: translateY(50%); }
	li{ padding: 1em }
	a{ .white; width: 20px; background: #333; height: 20px; display: inline-block; text-align: center; border-radius: 50%; .trans;
		&.nav-active,&:hover{ background: @main-brown }
	}
}
.nav-on nav{ opacity: 1; visibility: visible; }

section{ position: relative; min-height: 100vh; display: table; width: 100%; }
article{ display: table-cell; vertical-align: middle; }

#verify-wrapper { background: rgba(0,0,0,.85); height: 100%; display: none;} 
.verify-now{
	.headlines.uppercase{ font-size: 2.5em; }
	.brown-btn{ font-size: 1.25em; paddixng: .5em .75em; }
	.ccp-logo{ margin: 4em auto; }
}
.verify-top{ margin-bottom: 3em; 
	a{ position: relative; }
}
.verified{ opacity: 0; }
.verified .bottom-link{ animation: hvr-bob 1s infinite ease; }
.verified-mark{ opacity: 0; visibility: hidden; .trans; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%); transform: translate(-50%); 
	&.on{ opacity: 1; visibility: visible; }
}
.verified-top-bg{ position: absolute; top: 0; right: 0; }
#ccp-ss{ margin: 0 auto; }
#Balloons_Image{ position: absolute; top: 0; right: 0; opacity: 0;
	path{ fill:@main-brown; }
}
.overflow-on .bottom-link{ bottom: 7em;  }

.cloud.cloud1{ top: 220px; }
.cloud.cloud2{ top: 125px; }
.cloud.cloud3{ top: 50px; }
.cloud.cloud4{ top: 370px; }

#top{ background: url(img/bkgd-illustration-top.jpg); background-size: cover; background-position: top center; }

#intro{ 
	background: transparent; 
	.small-ccp-logo{ margin-bottom: 2.5em; }
	p{ 
		// width: 70%; 
		font-size: 1.4em; 
		margin: 0 auto; 
		margin-bottom: 2em; 
	}

	a.btn{
		background: transparent;
		color: white;
		border: 2px solid @main-brown;
		.trans;

		&:hover,
		&:focus{
			background: @main-brown;
		}
	}
}
.small-ccp-logo{ width: 20%; margin: 0 auto; }
#intro div.unit-60.text-center{ background: rgba(255,255,255,.95); padding: 3.5em; min-height: 100vh; margin: 0 auto; }

#rules{
	.subhead{ .extra-letter-spacing; color: @main-gray;} 
	.rules-svg{ width: 200px; float: left; padding-top: 3.5em; position: relative; top: 1.5em; }
	.rules-container{ padding-top: 4em; }
	.rules-wrapper{ width: 80%; margin: 0 auto; }
	.units-row.title-row{ border-bottom: 2px solid @dark-gray; padding-bottom: 2em; }
	figure,.rules-text{ display: table-cell; vertical-align: top; }
	figure{ vertical-align: top; width: 100px; }
	aside.unit-50{ display: table; margin-bottom: 1em; 
		&:nth-child(n+3){ margin-top: 3em; }
	}
	.rules-intro{
		width: 70%;
		margin: 0 auto;
	}
	.rules-text{ 
		padding: 0 2em 0 2em;
		padding-right: 0;
		
		td{
			border:none;
		}
		tr{
			.bottom-dashed-border;
			display: table-row;
		}
		tr.main-tr{
			color: @dark-gray;
			.headlines;
		}
		tr td:first-of-type,
		tr td:last-of-type{
			color: @dark-gray;
		}
		tr td:last-of-type{
			text-align: right;
		}
		tr:first-of-type td{
			padding-top: 0;
		}

		// .subhead{ margin-top: 3em; }
		ul.bodycopy{ margin-left: 1.75em; }
	} 

	.unit-table{
		display: table;
		margin: 3em auto;

		div[class*="unit"]{
			display: table-cell;
			vertical-align: bottom;
			float: none;
		}
		div.unit-40{
			padding-left: 2em;
		}
	}


	.winners{ float: right; border: 2px solid @dark-gray; padding: 1em; text-align: right; position: relative; top: 3.5em;
		.headlines{ font-size: 2em; font-weight: 400; }
	}
	table{
		td{ padding: .5em; }
		// tr td:first-of-type{ background: red }
	}

	.rule-single{
		.bottom-dashed-border;
		display: block;
		overflow: auto;
		padding: 1em 0 .5em;

		.big-num{
			float: left;
			margin: 0;
			position: relative;
			top: 1px;
		}
		p.bodycopy{
			float: right;
			color: @dark-gray;
		}
	}
	.rules-intro{
		text-align: center;
	}
}


#judges{ background-color:rgba(0,0,0,0.0);
	// article{ position: relative; top: 150px; }
	div.brown-bg{ text-align: center; display: inline-block; padding: 3em 6em; }
	.headlines{ font-size: 2.25em; }
	img{ 
		height: auto; 
		width: 150px; 
		// border-radius: 50%; 
		&.headshot{ .grayscale;  }
	}
	.judge{ 
		float: left; 
		margin-right: 1.3em; 
		text-align: left;

		h3.subhead{ margin-bottom: 0; }
		p.bodycopy{ margin-bottom: .5em; }
		a.bodycopy{ color: @main-gray; 
			&:hover{ color: black; }
		}
		&:last-of-type{ margin-right: 0; }
	}
	.bio-details{ 
		position: absolute; 
		top: 50%; 
		left: 50%; 
		-webkit-transform: translate(-50%,-50%); 
		transform: translate(-50%,-50%); 
		width: 80%; 
		max-width: 1000px; 
		overflow: auto; 
		padding: 1.75em; 
		display: none;

		.units-row{ float: none; margin: 0 auto; }
		.unit-75{ padding-left: 2em; }
		img{ width: 190px; }
	}
	.units-row{ padding: 2em; 
		h2.headlines.white{ margin: 0; }
		h3.bodycopy{ text-transform: initial; margin-bottom: 1.5em; font-size: 2em; }
		p.bodycopy.white{ font-size: 1.2em; line-height: 1.5; }
		a.subhead{  }
	}
	.close-bio{ position: absolute; top: 0; right: 10px; font-size: 3em; color: white;}
	p.bodycopy{ line-height: 1.4 }
}

#prizes{
	article{ padding: 2em; }
	.prizes-intro{ width: 40%; margin: 0 auto; }
	h2.headlines{ font-size: 2.75em; margin-bottom: .5em; }
	h4.headlines{ font-size: 1.5em; }
	hr{ .short-hr; }
	aside{ padding: 2em 4em; color: @main-gray; border:1px solid @dark-gray; background-image: url(img/prize-trophy.png); background-repeat: no-repeat; background-position: center top;
		.headlines{ .block; font-size: 1.5em; color: @main-brown; }
		.subhead{ .extra-letter-spacing; .uppercase;  }
		&.mobile-hidden .subhead{ font-size: 2em; }
		&.not-first{ margin-top: 3em; background-size: 30%; }
	} 
	.prizes-places{ padding: 3em; }
	
}

#enter-form{ 
	// background: url(img/bottom-bg.png); 
	background-position: center center; 
	background-size: cover;

	.short-dash{
		display: inline-block;
		width: 30%;
		margin: 0 auto 1.5em;
		border-top: 2px dashed white;
	}


	a.headlines{ 
		// width: 35%; 
		color: @dark-gray; 
		text-decoration: none; 
		display: inline-block; 
		margin: 0 auto; 
		font-size: 1.5em; 
		// line-height: 1.2em; 
		text-transform: uppercase;
		padding: .25em .75em;
		background: transparent;
		border: 2px solid white;

		&:hover, 
		&:focus{ 
			background: white;
			// text-decoration: underline; 
		}
		span{ display: inline-block; border-bottom: 1px solid white; .trans; }
		&:hover span, &:focus span{ border-bottom: 4px solid white }
	} 
	p.headlines{ font-size: 2.25em; }
	img{ 
		width: 45%;
		margin-bottom: 1em; 
	}
	p.bodycopy{
		width: 50%;
		margin: 0 auto 1em;
	}
	h3.headlines{
		font-size: 2em;
	}
	.bottom-link{
		position: static;
	    display: block;
	    left: 0;
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	    margin-top: 3em;
	}
}

#winners{ 
	article{ padding: 2em; }
	.prizes-intro{ width: 40%; margin: 0 auto; }
	h2.headlines{ font-size: 2.75em; margin-bottom: .5em; }
	h4.headlines{ font-size: 1.5em; }
	hr{ border-color: @main-gray; margin: 2em 3em;  }
	aside{ padding: 2em 0em; color: @main-gray; border:1px solid @dark-gray; 
		.headlines{ .block; font-size: 1.5em; color: white; }
		.subhead{ .extra-letter-spacing; .uppercase;  }
		.subhead.span-margin{ margin-bottom: 1.5em; }
		&.mobile-hidden{ padding: 2em 0em; }
		&.mobile-hidden .subhead{ font-size: 2em; }
		&.mobile-hidden div .subhead{ font-size: 1.4em; }
		&.not-first{ margin-top: 3.3em; }
	} 
	.prizes-places{ padding: 3em; }
	a.headlines{ width: 35%; color: white; text-decoration: none; display: block; margin: 0 auto; font-size: 2.5em; line-height: 1.2em; text-transform: uppercase;
		&:hover, &:focus{ color: white; text-decoration: underline; }
		span{ display: inline-block; border-bottom: 1px solid white; .trans; }
		&:hover span, &:focus span{ border-bottom: 4px solid white }
	} 
	p.headlines.winners-intro{ width: 50%; margin: 0 auto; font-size: 1.25em; font-weight: 400; }
	p.headlines{ font-size: 2.25em; }
	h3.subhead + p{ color: white; }
	img{ margin-bottom: 0em; position: relative; top: -1.5em; }

	.winner-details{ border-top: 1px solid black; padding-left: 2em; padding-right: 2em; }
}

.form-wrapper{ 
	// background: url(img/form-top-bg.png) no-repeat; 
	// background-position: top right; 
	// background-size: 40%;  

	article{ padding-top: 2em; }
	.unit-40{ padding-top: 300px; 
		a.subhead{ color: @main-brown; text-decoration: none; }
	}
	
}

.form-body .center-form{
    margin: 0 auto;
    float: none;
    // width: 60%;
    display: inline-block;

    a{
    	color: @main-brown;
    	text-decoration: none;
    	margin-left: 1em;
    	margin-bottom: 2.5em;
    	.trans;

    	&:hover,
    	&:focus{
    		color: darken(@main-brown, 12%);
    	}
    }
}

#contact_form{ 
	overflow: hidden; 
	position: relative;
	width: 60%;
	margin: 0 auto;

	::-webkit-input-placeholder { color: @dark-gray; }
	:-moz-placeholder { color: @dark-gray; }
	::-moz-placeholder { color: @dark-gray; }
	:-ms-input-placeholder { color: @dark-gray; }
	fieldset{ padding: 2em 0 0 4em; }
	label{ .hide; }
	label.showit{ display: inline-block; width: 95%; margin-bottom: .5em; .text-center; }
	input[type="checkbox"]{ margin-bottom: 0em; }
	input,textarea{ .bodycopy; background: rgba(255,255,255,1); margin-bottom: .5em; }
	.action-button{ .subhead; .extra-letter-spacing; .uppercase; font-size: 1.3em; color: @main-brown; display: inline-block; padding: .25em .5em; border: 1px dotted @main-brown; background: transparent; .trans;
		&:hover{ background: @main-brown; color: white; }
	}
	.thank-you-copy{ opacity: 0; visibility: hidden; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
	.action-button.previous{ margin-top: 2em; }
	// #submit-button{ display: block; }
}

// .upload-fieldset{ .text-center; }

.inputfile { width: 0.1px; height: 0.1px; opacity: 0; overflow: hidden; position: absolute; z-index: -1; }
.inputfile + label { .headlines; .extra-letter-spacing; .uppercase; font-size: 1.5em; color: @main-brown; background-color: transparent; display: inline-block; border: 1px dotted @main-brown; width: 40%; padding: 1em; margin: 0 auto; .trans; }

.inputfile:focus + label,
.inputfile + label:hover { background-color: @main-brown; color: white; }
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.inputfile + label * {
	pointer-events: none;
}

.form-nav{ margin: 0 0 1em 0;
	li{ display: inline-block; .text-center; margin: auto 1em;
		&.grayed{ .grayscale; }
	}
	img{ display: block; width: 90px; margin: 0 auto; .trans; display: none;
		// &.grayed{ .grayscale;  }
	}
	span{ .uppercase; .subhead; color: @main-brown; .extra-letter-spacing; }
}

.submit-wrapper{ position: relative; display: inline-block;
	input{ z-index: 1; position: relative; }
	svg{ position: absolute; top: 0;  }
	path{ stroke-width: 1px; stroke: @main-brown; }
}

fieldset{ border: none; }
fieldset:not(:first-of-type){ .hide; }
fieldset.current{ display: block; }
.parsley-errors-list.filled{ margin-left: 0; color: red; margin-bottom: .5em; padding-left: 0; list-style-type: none; }


.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(0deg) 
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    // transform:rotate(360deg) 
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translate(-50%,-8px);
    transform: translate(-50%,-8px);
    // transform:rotate(0deg) 
  }


  50% {
    -webkit-transform: translate(-50%,-4px);
    transform: translate(-50%,-4px);
  }

  100% {
    -webkit-transform: translate(-50%,-8px);
    transform: translate(-50%,-8px);
    // transform:rotate(360deg) 
  }
}

//CSS Loader
.loader {
  color: @main-brown;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  left: 50%;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


/* ==|== Custom LESS Variables ===================================================== */
@essonnes: "essonnes-display",sans-serif;
@fira: "fira-sans-2",sans-serif;
@tisa: "ff-tisa-sans-web-pro",sans-serif;

@main-brown: #8dc63f;
@main-gray: #4D4D4D;

@dark-brown: #917D50;
@dark-gray: #36391c;

@brothers: 'Brothers', sans-serif;
@cambria: 'Cambria', serif;
@cambria-bold: 'Cambria-Bold', serif;



/* ==|== Custom LESS Helpers ===================================================== */

.headlines{ .brothers; font-style: normal; font-weight: 700; }
.subhead{ .fira; font-style: normal; font-weight: 600; }
.bodycopy{ .cambria; font-size: 1.15em; font-style: normal; font-weight: 400; }

.essonnes{ font-family: @essonnes; }
.fira{ font-family: @fira; }
.tisa{ font-family: @tisa; }

.brothers{ font-family: @brothers; }
.cambria{ font-family: @cambria; }
.cambria-bold{ font-family: @cambria-bold; }

.pattern-bg{ background: url(img/concrete-seamless.png); }
.brown-bg{ background-color: @main-brown; }
.ill-bg{ background: url(img/bkgd-illustration-top.jpg) no-repeat; background-size: 100%; }
.white{ color: white; }
.dark-gray{ color: @dark-gray; }
.white-link{ color: white; .trans; text-decoration: none; border-bottom: 1px solid transparent;
	&:hover, &:focus{ color: white; text-decoration: none; border-bottom: 1px solid white; }
}
.white-btn{ .white-link; border: 1px solid white; padding: .5em;
	&:hover{ color: @main-brown; background: white;  }
}
.brown{ color: @main-brown; }
.brown-link{ color: @main-brown; .trans; text-decoration: none; border-bottom: 1px solid transparent; 
	&:hover, &:focus { color: @main-brown; text-decoration: none; border-bottom: 1px solid @main-brown; }
}
.brown-btn{ color: @main-brown; display: inline-block; padding: .25em .5em; border: 1px dotted @main-brown; background: transparent; .trans;
	&:hover{ background: @main-brown; color: white; }
}
// .action-button{ .subhead; .extra-letter-spacing; .uppercase; font-size: 1.3em;  display: inline-block; padding: .25em .5em; border: 1px dotted @main-brown; background: transparent; .trans;
// 		&:hover{ background: @main-brown; color: white; }
// 	}
.bottom-link{ position: absolute; bottom: 2em; -webkit-transform: translateX(-50%); transform: translateX(-50%); .trans(1.5s); }
.bottom-dashed-border{ 
	border-bottom: 1px dashed white; 
	display: inline-block;
	padding-bottom: .2em;
}
.top-dashed-border{
	border-top: 1px dashed white;
	display: inline-block;
	padding-top: .2em;
}

.short-hr{ width: 40px; height: 2px; border-top: 2px solid @main-brown; margin: 2em auto; }
.short-hr-white{ .short-hr; border-top: 2px solid white; }
.extra-letter-spacing{ letter-spacing: .08em; }
.extra-padding{ padding: 3em; }

.cloud{ position: absolute; width: 150px; height: auto; top: 0; }
.cloud path{ fill:white; }

.no-margin{ margin: 0; }
.no-padding{ padding: 0; }
.upper{ text-transform: uppercase; }
.centered{ text-align: center; }
.italic{ font-style: italic; }
.no-bull{ list-style: none; }
.show{ display: block; }
.hide{ display: none; }

.grayscale { -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); filter: grayscale(100%); transition: all 250ms ease-in-out;
	&:hover{ -webkit-filter: grayscale(0); -moz-filter: grayscale(0); filter: grayscale(0); }
}


/* ==|== Responsive Styles ===================================================== */

@media @largeScreenOne{
}

@media @largeScreenTwo{	
}

@media @largeScreenThree{	
}

@media @bpThree{
	#rules{
		.rules-wrapper{ width: 85%; } 
		.rules-text{ padding: 0 2em 0 1em; }
		figure{ width: 70px; }
		.winners .headlines{ font-size: 1.7em; }
	} 
}

@media @genericMobile{
	body{ background-attachment: scroll; background-size: auto; }
	#desktop-nav{ .hide; }
	nav{ .hide; }
	#intro p{ width: 90%;  }
	#rules .rules-wrapper{ width: 90%; }
	#rules aside.unit-50{ width: 100%; }
	#rules .rules-text .subhead{ margin-top: 0; } 
	#prizes aside{ width: 100% }
	#judges .coming-soon{ .hide; }
	#judges .bio-details{ text-align: left; }
	.ill-bg{ background-size: cover; }
	.form-wrapper .unit-40{ padding-top: 0 }
	#contact_form fieldset{ padding: 3em; }
}

@media @genericPhablet{
	#prizes article{ padding: 2em 0; }
	.inputfile + label{ width: 80%; }
	.verified .bottom-link{ bottom: 5em; }
	.small-ccp-logo { width: 50%; }
	#rules figure{ .hide; }
	#judges .judge{ float: none; margin-right: 0; margin-bottom: 3em; }
	#judges div.brown-bg.on{ border-top: 1em solid white; border-bottom: 1em solid white; }
	#rules aside.unit-50:nth-child(n+2){ margin-top: 3em; }
	#enter-form p.headlines{ font-size: 1.4em; }
	#winners p.headlines.winners-intro{ width: 90%;  }
	#judges img{ width: 100%; }
}

@media @genericPhone{ 
	#intro{
		.unit-60{ width: 100%; padding: 3.5em 2em; }
	}
	.verify-now .headlines.uppercase{ font-size: 2em; }
	h1.brand{
		a{ width: 180px; height: 200px; }
	}
	.loader{ font-size: 12px; }
	h1.form{ margin-top: 0; }
	#enter-form a.headlines{ width: auto; }
	.ill-bg{ background-size: 250% }
	#rules .winners{ border: none; text-align: left; }
	#rules .rules-text{ padding: 0 0 0 1em; }
	#rules .winners .headlines{ font-size: 1.5em; }
	#judges .bio-details{ width: 100%; }
	#judges .bio-details .unit-75{ padding-left: 0; }
	#judges a.white-btn{ display: inline-block; margin-bottom: 1em; }
	#prizes .prizes-intro{ width :85%; }
	#prizes .prizes-places{ padding: 3em .5em; }
	#prizes aside{ padding: 2em 2em; }
	.form-nav img{ width: 60px;  }
	.form-nav span{ .hide; }
	#contact_form{
		fieldset{ padding: 1.5em; }
		input[type="checkbox"]{ margin-bottom: 0; }
		.previous{ margin-top: 2em; }
		label.showit{ margin-bottom: 1.5em; }
		.inputfile + label{ width: 100%; }
	} 
}

